body{
    background-color:black;
    width:100%;
    height:100%;
    
}
header, .main-wrapper,footer{
    margin:2%;
    padding:3%;
    width:90%;
}

main{
    font-family: 'Press Start 2P', cursive;
    //font-family: 'VT323', monospace;
    background-color:white;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;


}
.game-name{
    text-align: center;
    font-size: 30px;
}
header, footer{
  //  background-color:black;
    color:white;
    font-family: 'Rubik Mono One', sans-serif;
}

img{
    width:50px;
}

.dices-wrapper{
    position:relative;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 4px solid;
    padding: 5%;
}

.player-dices-wrapper,
.computer-dices-wrapper{
   width:40%;
   display:flex;
   //justify-content: center;
   
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.player-dices,.computer-dices{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-screen{
    width:10%
}

.scores-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#score-title{
    width:100%;
    text-align:center;
}
.buttons-wrapper{
    display:flex;
    width:100%;
    justify-content:center;
}

button{
    width:120px;
    line-height:1.5;
    height:60px;
    font-family: 'Press Start 2P', cursive;
    margin:5%;
  
}

#roll-dices{
    background-color: white;
    color:black;
}
#restart{
    background-color: black;
    color:white;
}

#pop-up-winner{
    position: absolute;
    background-color: whitesmoke;
    font-size:40px;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
